#GrabimoFrame {
  z-index: 30002;
  position: absolute;
  top: 0;
  left: 0;
}

#GrabimoFrame .panel {
  z-index: 30003;
  position: relative;
}

#GrabimoFrame .panel iframe {
  width: 720px;
  height: 620px;
  border: 10px solid #183765;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

#GrabimoFrame .mask {
  z-index: 30001;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

#GrabimoFrame .panel #close {
  width: 45px;
  height: 35px;
  position: absolute;
  top: -18px;
  right: -20px;
  background-image: url("close.png");
}

#GrabimoFrame .panel #close:hover {
  background-position: 0 -35px;
}
